.Header {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    letter-spacing: 4px;
    display: block;
    box-sizing: inherit;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;

    .Img {
        max-width: 100%;
        height: auto;
    }

    .ImgContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        margin: 10px 0;
    }

    .ImgConSpan {
        color: #fff;
        background-color: #000;
        opacity: 0.75;
        font-size: 50px;
        padding: 10px;
    }

    .ImgConSpan2{
        color: #f1f1f1;
        font-size: 45px;
    }
}