.Navbar {
    position: fixed;
    width: 100%;
    z-index: 1;

    .NavDiv {
        height: 60px;
        color: #000;
        background-color: #fff;
        padding: 8px 16px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        letter-spacing: 4px;
        box-sizing: inherit;

        .NavItem {
            font-size: 20px;
            padding: 8px 16px;
            float: left;
            width: auto;
            border: none;
            display: block;
            outline: 0;
            letter-spacing: 4px;
            border: none;
            display: inline-block;
            padding: 14px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            box-sizing: inherit;
        }

        .NavItem:hover {
            background-color: #ccc;
        }
    }

    .NavChild {
        float: right;
        box-sizing: inherit;
        color: #000;
        letter-spacing: 4px;
        font-family: Verdana, sans-serif;
        font-size: 15px;
        line-height: 1.5;
    }

    .NavbarMenu {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .NavChild {
        display: none;
    }

    .NavbarMenu {
        display: flex !important;
        margin-top: 10px;
        height: 40px;
        text-align: center;
        justify-content: end;
    }

    .NavItem {
        font-size: 20px;
        padding: 8px 16px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0;
        letter-spacing: 4px;
        border: none;
        display: inline-block;
        padding: 14px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        box-sizing: inherit;
    }

    .NavItem:hover {
        background-color: #ccc;
    }
}